---
title: Contact
layout: default
sectionid: contact
---

<div class="row">
  <div>
    <h2>Contact</h2>
    You can reach Prof. Sankaran at <a
    href="mailto:ksankaran@wisc.edu">ksankaran@wisc.edu</a>. He also welcomes
    visitors in person at Room 7225C of the <a
    href="https://map.wisc.edu/s/n6w872zb">Medical Sciences Center</a>. Current
    open office hours are Fridays 3 - 4pm.

    <br>
    <br>

    Feel free to drop by for any reason,
    * You want to introduce yourself
    * You have a question about a data analysis problem
    * You want to talk about statistics research / practice / history
    * You'd like to borrow a book in my library
    * ...
    <hr>
    <iframe width="100%" height="276" frameborder="0"
     src="https://observablehq.com/embed/@krisrs1128/untitled?cells=canvas"></iframe>
  </div>
</div>
