---
title: Contact
layout: default
sectionid: contact
---

<div class="row">
  <div>
    <h2>Contact</h2>
    You can reach Prof. Sankaran at <a
    href="mailto:ksankaran@wisc.edu">ksankaran@wisc.edu</a>. He also welcomes
    visitors in person at Room 7225C of the <a
    href="https://map.wisc.edu/s/n6w872zb">Medical Sciences Center</a>. Current
    open office hours are Fridays 2 - 3pm.

    <br>
    <br>

    Drop by if you have a tricky data analysis question, are curious
    about statistics research / practice / history, or want to borrow a book
    from his library!
    <hr>
  </div>
</div>
