<div class="row" style="padding: 15px">
  <div class="col-sm-2 col-md-2" align="center">
  </div>

<div class="col-sm-6 col-md-8">
	<h3 class="header-light regular-pad"> {{ page.name }}</h3>
	<h4> {{ page.title }} </h4>
	{{ page.description }}
	{% if page.alumni %}
	Lab Member: {{ page.alumni }}<br>
	{% endif %}
	{% if page.home %}
	<a href="{{ page.home }}">Website</a>
	{% endif %}
	{% if page.mail %}
	<a href="mailto:{{ page.mail }}"><li class="fa fa-fw fa-2x fa-envelope"></li></a>
	{% endif %}
    </div>
</div>
